.faq-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
}

.faq-item{
    width: 50%;
    font-size: 25px;
    background-color: white;
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}
.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.question .ques{
    font-family: "Lexend Deca";
    color: #646060;
    font-weight: 300;
    font-size: 30px;
}
.question .ans{
    font-family: "Lexend Deca";
    color: #646060;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}
.answer{
    font-family: "Lexend Deca";
    color: #FFAA04;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
}

@media screen and (max-width: 1005px) {
.faq-item{
    width: 70%;
    font-size: 23px;
}
}
@media screen and (max-width: 760px) {
.faq-item{
    width: 80%;
    font-size: 23px;
}
}
@media screen and (max-width: 666px) {
   .question .ques{
    font-size: 25px;
}
.question .ans{
    font-size: 18px;
}
.answer{
    font-weight: 300;
    font-size: 15px;
}
}
@media screen and (min-width: 200px) and (max-width: 666px) {
    .faq-item{
    width: 80%;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
}
   .question .ques{
    font-size: 18px;
}
.question .ans{
    font-size: 15px;
}
.answer{
    font-weight: 300;
    font-size: 13px;
}
}


